opera/cloud/op_02_generic_fetch_and_publish.yaml
id: generic-fetch-and-publish
namespace: opera.cloud

description: >
  Generic reusable flow: fetches any GraphQL data type, transforms it, and publishes to Kafka.

inputs:
  - id: chain_code
    type: STRING
    defaults: SBMDEVE

  - id: from_update_date
    type: STRING
    defaults: 2021-01-01

  - id: to_update_date
    type: STRING
    defaults: 2028-01-01

  # --- What changes per data type ---
  - id: kafka_topic
    type: STRING
    # e.g. "opera.financial-transactions"

  - id: graphql_query
    type: STRING
    # The full GraphQL query string

  - id: gql_input_json
    type: STRING
    # JSON-serialized filter input, e.g. '{"financialtransDetailsResort": {"_in": ["HPDEV"]}}'

  - id: record_key_field
    type: STRING
    defaults: ""
    # Dot-notation path to the Kafka message key, e.g. "nameId" or "profilePreferenceDetails.nameId"
    # Leave empty to use empty string as key


variables:
  opera_base_url: "https://apm-dev0.sbm.interne"
  graphql_path: "/operara/v1/rna/v1/graphql/"
  page_size: 500
  kafka_bootstrap: "broker:29092"

tasks:
  - id: get_token
    type: io.kestra.plugin.core.flow.Subflow
    namespace: opera.cloud
    flowId: manage_token
    wait: true

  - id: fetch_and_transform
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install requests --proxy http://10.62.1.10:3128
    outputFiles:
      - "records.ion"
    script: "{{ read('fetch_all_pages.py') }}"

  - id: publish_to_kafka
    type: io.kestra.plugin.kafka.Produce
    from: "{{ outputs.fetch_and_transform.outputFiles['records.ion'] }}"
    topic: "{{ inputs.kafka_topic }}"
    properties:
      bootstrap.servers: "{{ vars.kafka_bootstrap }}"
      compression.type: gzip
    keySerializer: STRING
    valueSerializer: JSON

  - id: log_done
    type: io.kestra.plugin.core.log.Log
    message: "Published {{ outputs.publish_to_kafka.messagesCount }} records to {{ inputs.kafka_topic }}"